# Project Name
spring.application.name=kineticvault-backend
server.port=8080

# MongoDB Atlas
# Replace with your connection string
spring.mongodb.uri=mongodb+srv://<username>:<password>@cluster0.umjoudg.mongodb.net/kineticvault?appName=Cluster0
spring.data.mongodb.auto-index-creation=true

# MIET AI Gateway API
ai.gateway.url=https://ai-services.mietjmu.in/gateway/llm/chat
ai.gateway.token=<YOUR_AI_GATEWAY_TOKEN>
ai.gateway.model=gpt-oss:20b

# File Upload
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

# Tesseract
tesseract.data.path=tessdata

# CORS
app.cors.allowed-origins=*
